.contact-us-container {
    max-width: 600px;
    margin-top: 60px;
    margin: 0 auto;
    padding: 80px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-us-container h2 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

.contact-info {
  margin-bottom: 30px;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.contact-item span {
  margin-right: 10px;
  font-size: 20px;
}
  
  .contact-us-container form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-us-container label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-us-container input,
  .contact-us-container textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .contact-us-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #2362a6;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-us-container button:hover {
    background-color: #108154;
  }
  
  .success-message {
    color: #28a745;
    text-align: center;
    margin-bottom: 20px;
  }
  .rating span {
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
    margin-right: 5px;
  }
  
  .rating .filled {
    color: #ffd700; /* Gold color for filled stars */
  }
  
  